* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}

.side-ber{
  background-color:#2f3e51;
  width: 300px;
  height: 100vh;
  color: #ffffff;
  font-family: bold;
  &__header{
    background-color: #253141;
    height: 100px;
    display: flex;
    justify-content: space-between;
    &__user-name{
      padding: 40px 20px;
      font-size: 16px;
    }
    &__icons{
      margin-right: 20px;
      line-height: 100px;
      &__group-btn{
        display: inline-block;
      }
      a {
        color: white;
      }
    }
  }
  &__group-list{
    background-color:#2f3e51;
    padding: 0px 20px;
    height:crac (100vh -100px);
    &__group-name{
      font-size: 15px;
      padding-top: 20px;
    }
    &__group-message{
      font-size: 11px;
      padding-top: 5px;
    }
  }
}



.chat-main{
  width: calc(100vw - 300px);
  height: 100vh;
    &__group{
      background-color:#ffffff;
      height: 100px;
      border-bottom: 1px solid #eeeeee ;
        &__header{
          padding: 0 40px;
          display: flex;
          justify-content: space-between;
          height: 65px;
            &__left-box{
              padding-top: 35px;
              font-size: 20px;
              color: #333333;
            }
            &__right-box{
              border: solid 1px #38aef0;
              font-size: 16px;
              height: 40px;
              width: 72px;
              margin-top: 28px;
              text-align: center;
              line-height: 40px;
            }
            &__edit-text{
              font-size: 16px;
            }
            a {
              color: #38aef0;
              text-decoration: none;
             }
        }
        &__member{
          padding-left: 40px;
          padding-top: 15px;
          font-size: 12px;
          color: #999999;
          display: flex;
        }
    }
  &__massage-list{
    height: calc(100vh - 190px);
    padding: 40px;
    &__contents{
      background-color: #fafafa;
        &__name{
          font-size: 16px;
          font-weight: bold;
          color: #333333;
          padding-bottom: 12px;
          display: flex;
            &__time{
              font-size: 12px;
              color: #999999;
              margin-left: 10px;
              font-weight: normal;
            }
        }
    }
    &__comment{
      color: #434A54;
      font-size: 14px;
      padding-bottom: 46px;
      display: block;
    }
  }
  &__message-form{
    height: 90px;
    display: flex;
    text-align: center;
    line-height: 50px;
    background-color: #d2d2d2;
      &__info{
        position: relative;
        width: 100%;
        display: flex;
        padding: 20px 0px 20px 40px;
          &__input{
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            border: none;
          }
            &__image{
              position: relative;
              padding-right: 15px;
              background-color: #ffffff;
              font-size: 16px;
              a {
                color: #333333;
                text-decoration: none;
                i {
                  font-size: 25px;
                }
              }
            }
        &__send-btn{
          background-color: #38aef0;
          text-align: center;
          width: 100px;
          height: 50px;
          line-height: 50px;
          margin: 20px 40px 20px 15px;
          a {
            text-decoration: none;
          }
            &__send-text{
              color:#ffffff;
            }
        }
      }
  }
}